/* Estilos de estructura limpia */
        body, html {
            margin: 0; padding: 0;
            height: 100%; width: 100%;
            overflow: hidden;
            font-family: Verdana, sans-serif;
            background-color: #fff;
        }

        /* Cabecera */
        #frame-header {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 60px;
            z-index: 100;
            border-bottom: 1px solid #C5E1D1;
        }

        /* Sidebar con efecto Hover */
        #contenedor-sidebar {
            position: absolute;
            top: 60px; left: 0; bottom: 0;
            width: 50px; /* Cerrado */
            z-index: 50;
            background: #fff;
            border-right: 1px solid #C5E1D1;
            transition: width 0.3s ease;
            overflow: hidden;
        }

        #contenedor-sidebar:hover {
            width: 200px; /* Abierto */
            box-shadow: 5px 0 15px rgba(0,0,0,0.1);
        }

        #frame-sidebar {
            width: 200px; height: 100%; border: 0;
        }

        /* Contenido */
        #frame-content {
            position: absolute;
            top: 60px; left: 50px;
            right: 0; bottom: 0;
            width: calc(100% - 50px);
            height: calc(100% - 60px);
            border: 0;
        }
